<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="lfrca"
         point="org.eclipse.core.runtime.products">
      <product
            name="Lingua Franca"
            application="org.eclipse.ui.ide.workbench">
      </product>
   </extension>

</plugin>
