[submodule "org.lflang/src/lib/c/reactor-c"]
	path = org.lflang/src/lib/c/reactor-c
	url = https://github.com/lf-lang/reactor-c.git
[submodule "org.lflang/src/lib/py/reactor-c-py"]
	path = org.lflang/src/lib/py/reactor-c-py
	url = https://github.com/lf-lang/reactor-c-py.git
[submodule "org.lflang/src/lib/cpp/reactor-cpp"]
	path = org.lflang/src/lib/cpp/reactor-cpp
	url = https://github.com/lf-lang/reactor-cpp
[submodule "org.lflang/src/lib/platform/arduino/Arduino-CMake-Toolchain"]
	path = org.lflang/src/lib/platform/arduino/Arduino-CMake-Toolchain
	url = https://github.com/a9183756-gh/Arduino-CMake-Toolchain.git
[submodule "org.lflang/src/lib/rs/reactor-rs"]
	path = org.lflang/src/lib/rs/reactor-rs
	url = https://github.com/lf-lang/reactor-rs
