[submodule "org.lflang/src/lib/ts/reactor-ts"]
	path = org.lflang/src/lib/ts/reactor-ts
	url = https://github.com/lf-lang/reactor-ts.git
[submodule "org.lflang/src/lib/c/reactor-c"]
	path = org.lflang/src/lib/c/reactor-c
	url = https://github.com/lf-lang/reactor-c.git
[submodule "org.lflang/src/lib/py/reactor-c-py"]
	path = org.lflang/src/lib/py/reactor-c-py
	url = https://github.com/lf-lang/reactor-c-py.git
[submodule "example/Cpp/src/AlarmClock"]
	path = example/Cpp/src/AlarmClock
	url = https://github.com/revol-xut/lf-alarm-clock
