/.LinguaFrancaGenerator.java._trace
/.LinguaFrancaGenerator.xtendbin
/LinguaFrancaGenerator.java
/.CapeCodeGenerator.java._trace
/.CapeCodeGenerator.xtendbin
/CapeCodeGenerator.java
/.AccessorGenerator.java._trace
/.CGenerator.java._trace
