/.LinguaFrancaDescriptionLabelProvider.java._trace
/.LinguaFrancaDescriptionLabelProvider.xtendbin
/.LinguaFrancaLabelProvider.java._trace
/.LinguaFrancaLabelProvider.xtendbin
/LinguaFrancaDescriptionLabelProvider.java
/LinguaFrancaLabelProvider.java
