<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:org.icyphy.linguafranca.diagram.synthesis.LinguaFrancaSynthesis"
            id="org.icyphy.linguafranca.diagram.synthesis.LinguaFrancaSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="org.icyphy.linguafranca.diagram.synthesis.action.MemorizingExpandCollapseAction"
            id="org.icyphy.linguafranca.diagram.synthesis.action.MemorizingExpandCollapseAction">
      </action>
      <action
            class="org.icyphy.linguafranca.diagram.synthesis.action.ExpandAllReactorsAction"
            id="org.icyphy.linguafranca.diagram.synthesis.action.ExpandAllReactorsAction">
      </action>
      <action
            class="org.icyphy.linguafranca.diagram.synthesis.action.CollapseAllReactorsAction"
            id="org.icyphy.linguafranca.diagram.synthesis.action.CollapseAllReactorsAction">
      </action>
      <action
            class="org.icyphy.linguafranca.diagram.synthesis.action.ShowCycleAction"
            id="org.icyphy.linguafranca.diagram.synthesis.action.ShowCycleAction">
      </action>
      <action
            class="org.icyphy.linguafranca.diagram.synthesis.action.FilterCycleAction"
            id="org.icyphy.linguafranca.diagram.synthesis.action.FilterCycleAction">
      </action>
      <styleModifier
            class="org.icyphy.linguafranca.diagram.synthesis.postprocessor.ReactionPortAdjustment"
            id="org.icyphy.linguafranca.diagram.synthesis.postprocessor.ReactionPortAdjustment">
      </styleModifier>
   </extension>
</plugin>
