name: Build toolchain

on:
  workflow_call:
    inputs:
      nightly:
        required: false
        type: boolean
        default: false
    secrets:
      envPAT:
        required: false
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Check out lingua-franca repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Prepare build environment
        uses: ./.github/actions/prepare-build-env
      - name: Build and package lfc
        run: .github/scripts/package_lfc.sh
        shell: bash
      - name: Build and package epoch
        run: mvn package || mvn -U package
        shell: bash
      - name: Deploy nightly release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.envPAT }}"
          automatic_release_tag: 'nightly'
          prerelease: true
          files: |
            org.lflang.rca/target/products/*.tar.gz
            org.lflang.rca/target/products/*.zip
            build_upload/*
        if: ${{ inputs.nightly == true }}
