name: C Patmos tests

on:
  workflow_call:
    inputs:
      compiler-ref:
        required: false
        type: string
      runtime-ref:
        required: false
        type: string
      use-cpp:
        required: false
        type: boolean
        default: false
      scheduler:
        required: false
        type: string
      all-platforms:
        required: false
        default: true
        type: boolean

jobs:
  Patmos-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out lingua-franca repository
        uses: actions/checkout@v3
        with:
          repository: lf-lang/lingua-franca
          submodules: true
          ref: ${{ inputs.compiler-ref }}
          fetch-depth: 0
      - name: Prepare build environment
        uses: ./.github/actions/prepare-build-env
      - name: Setup and build Patmos
        uses: ./.github/actions/setup-patmos
      - name: Check out specific ref of reactor-c
        uses: actions/checkout@v3
        with:
          repository: lf-lang/reactor-c
          path: core/src/main/resources/lib/c/reactor-c
          ref: ${{ inputs.runtime-ref }}
        if: ${{ inputs.runtime-ref }}
      - name: Run Patmos tests
        run: |
          ./gradlew core:integrationTest \
            --tests org.lflang.tests.runtime.CPatmosTest.* \
            core:integrationTestCodeCoverageReport
          rm -rf test/C/src-gen
      - name: Smoke tests
        run: |
          for file in $(find test/C/bin -type f -name '*Patmos*'); do
            echo "Inspecting file: $file"
            file "$file"
            echo "Running pasim on $file"
            pasim "$file" || echo "Error running pasim on $file"
          done
      - name: Report to CodeCov
        uses: ./.github/actions/report-code-coverage
        with:
          files: core/build/reports/jacoco/integrationTestCodeCoverageReport/integrationTestCodeCoverageReport.xml
        if: ${{ github.repository == 'lf-lang/lingua-franca' }}
