name: C Zephyr tests

on:
  workflow_call:
    inputs:
      compiler-ref:
        required: false
        type: string
      runtime-ref:
        required: false
        type: string
      use-cpp:
        required: false
        type: boolean
        default: false
      scheduler:
        required: false
        type: string

jobs:
  zephyr-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out lingua-franca repository
        uses: actions/checkout@v3
        with:
          repository: lf-lang/lingua-franca
          submodules: true
          ref: ${{ inputs.compiler-ref }}
          fetch-depth: 0
      - name: Prepare build environment
        uses: ./.github/actions/prepare-build-env
      - name: Setup Zephyr
        uses: ./.github/actions/setup-zephyr
      - name: Check out specific ref of reactor-c
        uses: actions/checkout@v3
        with:
          repository: lf-lang/reactor-c
          path: core/src/main/resources/lib/c/reactor-c
          ref: ${{ inputs.runtime-ref }}
        if: ${{ inputs.runtime-ref }}
      - name: Run Zephyr smoke tests
        run: |
          ./gradlew core:integrationTest --tests org.lflang.tests.runtime.CZephyrTest.buildZephyr* core:integrationTestCodeCoverageReport
          util/RunZephyrTests.sh test/C/src-gen
          rm -r test/C/src-gen
      - name: Run basic tests
        run: |
          ./gradlew core:integrationTest --tests org.lflang.tests.runtime.CZephyrTest.buildBasic* core:integrationTestCodeCoverageReport
          util/RunZephyrTests.sh test/C/src-gen
          rm -r test/C/src-gen
      - name: Run concurrent tests
        run: |
          ./gradlew core:integrationTest --tests org.lflang.tests.runtime.CZephyrTest.buildConcurrent* core:integrationTestCodeCoverageReport
          util/RunZephyrTests.sh test/C/src-gen
          rm -r test/C/src-gen
      - name: Report to CodeCov
        uses: Wandalen/wretry.action@v1.3.0
        with:
          attempt_limit: 3
          attempt_delay: 2000
          action: codecov/codecov-action@v3.1.4
          with: |
            files: core/build/reports/jacoco/integrationTestCodeCoverageReport/integrationTestCodeCoverageReport.xml
            fail_ci_if_error: true
            verbose: true
        if: ${{ !inputs.runtime-ref }}  # i.e., if this is part of the main repo's CI
