name: CLI tests

on:
  workflow_call:

jobs:
  run:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      - name: Prepare build environment
        uses: ./.github/actions/prepare-build-env
      - name: Run standalone cli tests
        run: |
          ./gradlew test --tests org.lflang.tests.cli.* --stacktrace
      - name: Test build bash scripts (Linux and macOS only)
        run: |
          .github/scripts/test-build.sh
        if: ${{ runner.os == 'macOS' || runner.os == 'Linux' }}
      - name: Test lfc bash scripts (Linux or macOS only)
        run: |
          .github/scripts/test-lfc.sh
        if: ${{ runner.os == 'macOS' || runner.os == 'Linux' }}
      - name: Test lff bash scripts (Linux or macOS only)
        run: |
          .github/scripts/test-lff.sh
        if: ${{ runner.os == 'macOS' || runner.os == 'Linux' }}
      - name: Test PowerShell script (Windows only)
        run: |
          ./gradlew buildAll
          bin/lfc.ps1 --help
        if: ${{ runner.os == 'Windows' }}
      - name: Report to CodeCov
        uses: codecov/codecov-action@v3.1.1
        with:
          file: org.lflang.tests/build/reports/xml/jacoco
          fail_ci_if_error: false
          verbose: true
        if: ${{ runner.os == 'Linux' }}
