name: Extract ref from file

on:
  workflow_call:
    inputs:
      file:
        description: Path to the file to extract the ref from
        type: string
        required: false
    outputs:
      ref:
        description: "The extracted ref"
        value: ${{ jobs.run.outputs.ref }}

jobs:
  run:
    runs-on: ubuntu-latest
    outputs:
      ref: ${{ steps.read.outputs.ref }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Extract ref from ${{ inputs.file }}
        id: read
        run: echo "::set-output name=ref::$(head -n 1 ${{ inputs.file }})"
