name: Rust

on:
  workflow_dispatch:
  workflow_call:

env:
  # 2020.11
  vcpkgGitRef: 0bf3923f9fab4001c00f0f429682a0853b5749e0

concurrency:
  group: only-rs-${{ github.ref }}-${{ github.event_path }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  # Run the Rust integration tests.
  rs-tests:
    uses: ./.github/workflows/rs-tests.yml
    with:
      all-platforms: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
  # Run the Rust benchmark tests.
  rs-benchmark-tests:
    # FIXME: These started failing on 2025-06-08.
    # Referring to a branch did not work.
    # Fixes in the Rust benchmarks are in the branch, but those
    # do not work either.
    if: false  # Always skip benchmark tests
    uses: lf-lang/benchmarks-lingua-franca/.github/workflows/benchmark-tests.yml@fix-raw-pointer-ref
    with:
      target: "Rust"

