name: Python tests

on:
  workflow_call:
    inputs:
      compiler-ref:
        required: false
        type: string
      reactor-c-ref:
        required: false
        type: string
      reactor-c-py-ref:
        required: false
        type: string
      all-platforms:
        required: false
        default: true
        type: boolean

jobs:
  regular-tests:
    strategy:
      matrix:
        platform: ${{ (inputs.all-platforms && fromJSON('["ubuntu-latest", "macos-latest", "windows-latest"]')) || fromJSON('["ubuntu-latest"]') }}
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Check out lingua-franca repository
        uses: actions/checkout@v3
        with:
          repository: lf-lang/lingua-franca
          submodules: true
          ref: ${{ inputs.compiler-ref }}
          fetch-depth: 0
      - name: Prepare build environment
        uses: ./.github/actions/prepare-build-env
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies OS X
        run: |
          brew install coreutils
        if: ${{ runner.os == 'macOS' }}
      - name: Install LinguaFrancaBase
        run: pip3 install LinguaFrancaBase
      - name: Install Google API Python Client
        run: pip3 install --upgrade google-api-python-client
      - name: Check out specific ref of reactor-c
        uses: actions/checkout@v2
        with:
          repository: lf-lang/reactor-c
          path: org.lflang/src/lib/c/reactor-c
          ref: ${{ inputs.reactor-c-ref }}
        if: ${{ inputs.reactor-c-ref }}
      - name: Check out specific ref of reactor-c-py
        uses: actions/checkout@v2
        with:
          repository: lf-lang/reactor-c-py
          path: org.lflang/src/lib/py/reactor-c-py
          ref: ${{ inputs.reactor-c-py-ref }}
        if: ${{ inputs.reactor-c-py-ref }}
      - name: Run Python tests
        run: ./gradlew integration -Ptarget=Python
      - name: Collect code coverage
        run: ./gradlew jacocoTestReport
      - name: Report to CodeCov
        uses: codecov/codecov-action@v3.1.1
        with:
          files: org.lflang/core/build/reports/xml/jacoco
          fail_ci_if_error: false
          verbose: true
        if: ${{ !inputs.compiler-ref && runner.os == 'Linux' && inputs.all-platforms }}  # i.e., if this is part of the main repo's CI
