name: Python tests

on:
  workflow_call:
    inputs:
      compiler-ref:
        required: false
        type: string
      reactor-c-ref:
        required: false
        type: string
      reactor-c-py-ref:
        required: false
        type: string
      all-platforms:
        required: false
        default: true
        type: boolean

jobs:
  regular-tests:
    strategy:
      matrix:
        platform: ${{ (inputs.all-platforms && fromJSON('["ubuntu-latest", "macos-latest", "windows-latest"]')) || fromJSON('["ubuntu-latest"]') }}
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Check out lingua-franca repository
        uses: actions/checkout@v3
        with:
          repository: lf-lang/lingua-franca
          submodules: true
          ref: ${{ inputs.compiler-ref }}
          fetch-depth: 0
      - name: Prepare build environment
        uses: ./.github/actions/prepare-build-env
      - name: Install RTI
        uses: ./.github/actions/install-rti
        if: ${{ runner.os == 'macOS' || runner.os == 'Linux' }}
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies OS X
        run: |
          brew install coreutils
        if: ${{ runner.os == 'macOS' }}
      - name: Install LinguaFrancaBase
        run: pip3 install LinguaFrancaBase
      - name: Install Google API Python Client
        run: pip3 install --upgrade google-api-python-client
      - name: Check out specific ref of reactor-c
        uses: actions/checkout@v2
        with:
          repository: lf-lang/reactor-c
          path: core/src/main/resources/lib/c/reactor-c
          ref: ${{ inputs.reactor-c-ref }}
        if: ${{ inputs.reactor-c-ref }}
      - name: Check out specific ref of reactor-c-py
        uses: actions/checkout@v2
        with:
          repository: lf-lang/reactor-c-py
          path: core/src/main/resources/lib/py/reactor-c-py
          ref: ${{ inputs.reactor-c-py-ref }}
        if: ${{ inputs.reactor-c-py-ref }}
      - name: Run Python tests
        run: ./gradlew targetTest -Ptarget=Python
      - name: Report to CodeCov
        uses: Wandalen/wretry.action@1.3.0
        with:
          attempt_limit: 3
          attempt_delay: 2000
          action: codecov/codecov-action@v3.1.4
          with: |
            files: core/build/reports/jacoco/integrationTestCodeCoverageReport/integrationTestCodeCoverageReport.xml
            fail_ci_if_error: true
            verbose: true
        if: ${{ !inputs.compiler-ref && runner.os == 'Linux' && inputs.all-platforms }}  # i.e., if this is part of the main repo's CI
